@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500px;
    background-color: #0096f3;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.flex {
    display: flex;
}

h2.titulo {
    color: white;
    font-size: 30px;
    text-align: center;
}

h2.titulo span {
    color: #0096f3;
}

/* CABEÇALHO */

header {
    padding: 40px 4%;
}

.logo  img {
    width: 100px;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #a8a8a8;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #0096f3;
    transform: scale(1.05);
}

/* Topo do Site */

section.topo-do-site {
     padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.topo-do-site h1 {
    color: white;
    font-size: 36px;
    line-height: 35px;
}

.topo-do-site p {
    color: white;
    margin: 20px 0px;
}

.img-topo-site img {
    position: relative;
    width: 400px;
    animation: flutuar 2s ease-in-out infinite alternate
    
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* Especialidade */

section.especialidades {
    padding: 60px 4%;
}

section.especialidades .flex {
    gap: 40px;
}

.especialidades .especialidades-box {
    color: white;
    margin: 40px;
    border-radius: 20px;
    padding: 40px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.726);
}

.especialidades .especialidades-box i {
    font-size: 60px;
    color: #0096f3;
}

.especialidades .especialidades-box h3 {
    font-size: 22px;
    margin: 15px 0px;
}

/* Sobre */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 80px;
}

.img-sobre img {
    width: 400px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span {
    color: #0096f3;
}

.sobre .txt-sobre p {
    margin: 15px 0px;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0px;
    background-color: #0096f3;
    color: black;
    font-size: 30px;
    cursor: pointer;
    margin: 0px 10px;
    transition: .2s;
}

.btn-social button:hover {
    box-shadow: 0px 0px 8px #0096f3;
    transform: scale(1.05);
}

/* Portfolio */

section.portfolio {
    padding: 40px 4%;
}

.portfolio .flex {
    gap: 40px;
    margin: 40px;
}

.portfolio .portfolio-box {
    border: 1px solid #0096f3;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    transition: .3s;
}

.portfolio .portfolio-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #0096f3;
}

.portfolio .portfolio-box p{
    color: white;
    text-align: center;
    padding: 15px 0px;
}

.site {
    width: 250px;
    height: 150px;
}

