@charset "UTF-8";

@media screen and (max-width: 768px) {

    /* Gerias */
    .flex {
        flex-direction: column;
    }


    /*  CABEÇALHO */

    header {
        padding: 60px 8%;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* Topo do Site */

    section.topo-do-site {
        padding: 60px 8%;
    }

    .img-topo-site img {
        width: 300px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    section.topo-do-site .flex {
        gap: 100px;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }


    /* Especialidade */

    section.especialidades {
        padding: 60px 8%;
    }


    section.especialidades .flex {
        gap: 10px;
    }

    /* Sobre */

    section.sobre {
        padding: 60px 8%;
    }

    section.sobre .flex {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .sobre .txt-sobre h2 {
        font-size: 30px;
    }

    .img-sobre img {
        width: 300px;
    }

    /* Portfolio */

    section.portfolio {
        padding: 60px 8%;
    }

    .portfolio .flex {
        text-align: center;
        gap: 60px;
        margin: 20px;
    }

    .site {
        width: 250px;
    }
}